/* dashboard nav bar */
.nav-bar {
  list-style: none;
  display: flex;
  top: 2rem;
  position: sticky;
  justify-content: center;
  padding: 0;
  width: 100vw;
  margin-bottom: 4rem;
}

.nav-item {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  color: grey;
  text-align: center;
  transition: background 0.2s linear;
  width: 20rem;
}

.nav-item:hover {
  color: white;
  background-color: grey;
}

/* dashboard profile view */
.profile-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  font-size: 4rem;
  text-align: center;
}

.card {
  width: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: all 0.2s linear;
}

.name {
  height: 250px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  line-height: 250px;
  background: #36D1DC;
  background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);
  background: linear-gradient(to right, #5B86E5, #36D1DC);
  position: relative;
  z-index: 1;
  box-shadow: 0 25px 40px -6px rgba(0, 0, 0, 0.705);
}

.edit-profile {
  font-size: 4rem;
  border: none;
  width: 40%;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 10px 40px -6px rgba(0, 0, 0, 0.705);
  outline: none;
}

.card:hover {
  padding: 20px 0;
}

/* dashboard institution view */
.institution-container {
  display: flex;
  flex-wrap: wrap;
  width: 50vw;
  margin-left: 25vw;
  align-items: center;
  justify-content: space-evenly;
}

.institution {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 200px;
  width: 200px;
  font-size: 4rem;
  border-radius: 10px;
  background-color: black;
  color: white;
  margin: 5px;
}

/* dashboard transactions table view */
.transactions-container {
  display: flex;
  flex-flow: row nowrap;
  width: 70vw;
  margin-left: 15vw;
  justify-content: center;
}

.transactions-table {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  border-collapse: collapse;
}

.transactions-table-headers {
  background-color: rgb(205, 205, 205);
}

.transactions-table-header {
  font-size: 2rem;
}

.transactions-table-row {
  background-color: rgb(245, 245, 245);
}

.transactions-table-row:nth-child(even) {
  background-color: rgb(205, 205, 205);
}

.transactions-table-cell {
  font-size: 1.8rem;
  text-align: center;
}

.transactions-table-header:first-child, .transactions-table-cell:first-child {
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
}

.transactions-table-header:last-child, .transactions-table-cell:last-child {
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
}

.transactions-table-header, .transactions-table-cell {
  padding: 1rem 0;
}
